<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
    <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
    <InstrumentationKey>9cd23ef2-1f30-4239-830c-eac1e52a004a</InstrumentationKey>
</ApplicationInsights>
